# Python
__pycache__/
*.py[cod]
*.ipynb_checkpoints

# Docker
*.env
*.log
*.pid
.env/
.env.*

# Airflow
logs/
dags/__pycache__/
plugins/__pycache__/

# MinIO metadata
processing/minio-data/

# Jupyter
*.ipynb_checkpoints

# OS files
.DS_Store
Thumbs.db

# Local-only Docker overrides
docker-compose.override.yml